.section_header
  %h3.comments Task history

.row
  .span12
    %ul
      - for version in @versions  
        %li
          %span.bold= version.event.titlecase + "d "
          by
          %span.bold
            - unless version.whodunnit == nil
              = link_to User.find(version.whodunnit).name, user_path(version.whodunnit)
          on
          %span.muted= version.created_at
          ="=>"
          %span
            %code= version.changeset

     