- if params[:my] && params[:my] == "true"
  .active_switch
    = active_inactive_switch_my

.tasks_legend
  .name Name
  .status Status
  - if current_user.staff?
    .private Private
  .due_date Due date
  .assignees Assignees
  .controls Actions
#tasks
  %ul.tasks
    - @tasks.each do |task|
      - if params[:archived] == "true"
        = render :partial => 'tasks/task', :locals => { :task => task }
      - else 
        - if task.active?
          = render :partial => 'tasks/task', :locals => { :task => task }

= will_paginate @collection

/ = render :partial => "search_form"
