.section_header {margin-bottom: 20px;}

// #aboutus .flexslider { margin-top: -40px; }
#aboutus .flexslider img { box-shadow: 6px 6px 4px #888888; }
.navbar .brand { padding-top: 0px; padding-bottom: 0px;}
#footer .recent_posts .post {margin-bottom: 20px;}
a.btn > ins.jstree-icon {  display:none !important; }
div.controls ins.jstree-icon {  display:none !important; }
div.private ins.jstree-icon {  display:none !important; }
li.jstree-open a ins.jstree-icon {  background-image: url(image_path('mono-icons/folder16.png')); background-position: 0px 0px; }
li.jstree-closed a ins.jstree-icon {  background-image: url(image_path('mono-icons/folder16.png')); background-position: 0px 0px; }
li.jstree-leaf a ins.jstree-icon {  background-image: url(image_path('mono-icons/task16.png')); background-position: 0px 0px; }
.jstree a.btn-danger {color:white;}

#aboutus {padding-bottom: 22px;}