#footer
  .container
    / .row.info
    /   .span6.residence
    /     %ul
    /       %li 2301 East Lamar Blvd. Suite 140. City, Arlington.
    /       %li United States, Zip Code TX 76006.
    /   .span5.touch
    /     %ul
    /       %li <strong>P.</strong> 1 817 274 2933
    /       %li <strong>E.</strong><a href="#"> bootstrap@twitter.com</a>
    .row.credits
      .span12
        / .row.social
        /   .span12
        /     <a href="#" class="facebook">
        /     <span class="socialicons ico1"></span>
        /     <span class="socialicons_h ico1h"></span>
        /     </a>
        /     <a href="#" class="twitter">
        /     <span class="socialicons ico2"></span>
        /     <span class="socialicons_h ico2h"></span>
        /     </a>
        /     <a href="#" class="gplus">
        /     <span class="socialicons ico3"></span>
        /     <span class="socialicons_h ico3h"></span>
        /     </a>
        /     <a href="#" class="flickr">
        /     <span class="socialicons ico4"></span>
        /     <span class="socialicons_h ico4h"></span>
        /     </a>
        /     <a href="#" class="pinterest">
        /     <span class="socialicons ico5"></span>
        /     <span class="socialicons_h ico5h"></span>
        /     </a>
        /     <a href="#" class="dribble">
        /     <span class="socialicons ico6"></span>
        /     <span class="socialicons_h ico6h"></span>
        /     </a>
        /     <a href="#" class="behance">
        /     <span class="socialicons ico7"></span>
        /     <span class="socialicons_h ico7h"></span>
        /     </a>
        = render "copyright"